@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  
  }
  
.scrollbar-none::-webkit-scrollbar {
display: none;
}
  
.text-shadow {
    text-shadow: 0 0 .5px black;
  }